@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.myaccount{
    background-color: #7C0B0B;
    width: 137px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
}
.whatev{
    position: sticky;
    top: 0px;
}
#hero{
    background-image: url(./image/Rectangle\ 1.png);
    height: calc(100vh - 100px);
    background-size: cover;
    background-position: center;
}
#h2{
    height: 100px;
    position: sticky;
    top: 0px;
}
#hero h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
}
#hero button{
    background-color: #ffffff;
    width: 147px;
    height: 40px;
    border-radius: 10px;
    color: #7C0B0B;
    font-weight: 500;
}
#whatareyou{
    width: 463px;
    height: 42px;
    color: #7C0B0B;
    border: #7C0B0B 1px solid;
    margin-bottom: 24px;
    padding-left: 9px;
}
input::placeholder{
    color: #7C0B0B;
}
.form{
    padding: 20px;
    width: 587px;
    height: 651px;
    margin-left: 100px;
    padding-top: 60px;
    padding-left: 40px;
    border: 1px solid rgba(124, 11, 11, 0.4);
    margin-top: 93px;
}

.form label{
    padding-bottom: 16px;
}
.h1 h1{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #7C0B0B;
}
.h1 p{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #7C0B0B;
}
.rectangle4{
    width: 558px;
    height: 651px;
    margin-right: 100px;
    margin-top: 93px;
}
.forfl{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.join{
    text-align: center;
    margin-top: 21px ;
    display: flex;
    justify-content: space-around;
    background-color: #7C0B0B;
    width: 96px;
    height: 40px;
    color: #ffffff;
    border-radius: 10px;
    border: none;
}
.abouts{
    padding-top: 124px;
    align-items: center;
    text-align: center;
   
}
.abouts h1{
    padding-bottom: 17px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.abouts p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 19.5px;
    padding-bottom: 124px;
}
.group{
    border: 1px solid #7C0B0B;
    width: 366px;
    height: 328px;
   align-items: center;
   display: flex;
   flex-direction: column;
   text-align: justify;
   border-radius: 30px;
   
}
.flx{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-top: 49px;
    padding-right: 100px;
}
.yea{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.howitworks p {
    padding-left: 37px;
    padding-right: 37px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.group img {
    padding-top: 49px ;
    padding-bottom: 20px;
}
.group h1{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
}
.members1{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.backs{
    background-color: #7C0B0B;
    width: 267px;
    height: 198px;
    border-radius: 30px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 76px;
}
.members2 {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.back {
    background-color: #7C0B0B;
    width: 267px;
    height: 198px;
    border-radius: 30px;
    color: #ffffff;
    text-align: center;
}
.pop{
    text-align: center;
    font-weight: 700px;
    padding-top: 124px;
    padding-bottom: 61px;
}
.back img{
    padding-top: 38px;
    padding-bottom: 13px;
}
.backs img {
    padding-top: 38px;
    padding-bottom: 13px;
}
.but{
    display: flex;
    justify-content: space-around;
    text-decoration: none;

}
.buts a{
    text-decoration: none;
    color: #ffffff;
}
.but button{
    background-color: #7C0B0B;
    border: none;
    width: 83px;
    height: 40px;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 59px;
}
.tes{
    font-weight: 700;
    align-items: center;
    text-align: center;
    padding-top: 124px;
}
.tes h1{
    font-size: 30px;
    padding-bottom: 12px;
    font-weight: 700;
}
.tes p{
    color: #7C0B0B;
    font-weight: 16px;
}
.elli{
    display: flex;
    flex-direction: row;
}
.elli h5{
    padding-left: 23px;
    padding-top: 62px;
    font-weight: 700;
}
.elli img{
    padding-top: 32px;
    padding-bottom: 48px;
}
.elli1 p{
    text-align: justify;
    padding-top: 68px;
}
.elli1{
    background: #7C0B0B66;
    height: 328px;
    width: 366px;
   border-radius: 30px;
   padding-left: 37px;
   padding-right: 37px;
}
.pad{
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}
.suba h1{
    font-weight: 700;
    font-size: 30px;
}
.suba{
    text-align: center;
    padding-top: 173px;
}
.suba p{
    color: #7C0B0B;
    font-weight: 500;
    font-size: 16px;
}
.news{
    border: none;
    border: 1px solid #7C0B0B;
    width: 560px;
    height: 54px;
    border-radius: 30px;
    padding-left: 30px;
}
.letter{
    width: 164px;
    height: 54px;
    background-color: #7C0B0B;
    border: none;
    color: #ffffff;
    border-radius: 30px;
    margin-left: -93px;
}
.form2{
    align-items: center;
    display: flex;
    text-align: center;
    padding-left: 350px;
}
.red{
    background-color: #7C0B0B;
    width: 100%;
    height: 407px;
    margin-top: 134px;
}
.grp1{
    background-color: #ffffff;
    width: 695px;
    height: 112px;
    border-radius: 30px;  
}

.last a{
    color: #ffffff;
    text-decoration: none;
}
.lasts a {
    color: #ffffff;
    text-decoration: none;
}
.last p{
    display: flex;
    flex-direction: column;
    line-height: 25px;

}
.lasts p {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    padding-left: 40px;
}
.sax{
    display: flex;
    justify-content: space-between;
    padding-top: 107px;
    padding-left: 100px;
    padding-right: 99px;
}
.join a{
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
.join{
    display: flex;
    align-items: center;
    margin-left: 100px;
    padding: 10px;
}
.tweet{
    margin-top: 52px;
    margin-left: 124px;
    display: flex;
    gap: 26px;
}
.yeas{
    display: flex;
    flex-direction: row;
    
}
.grp1{
    display: flex;
    justify-content: space-between;
    padding-right: 56.97px;
    padding-top: 37px;
}
.grp1 button a{
    text-decoration: none;
    color: #ffffff;
}
.grp1 button{
    background-color: #7C0B0B;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 144.32px;
}
.atm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.atm button{
    align-items: center;
    gap: 10px;
    margin-top: -70px;
}
.grp1 h5{
    line-height: 20px;
    margin-top: -30px;
    margin-left: 47px;
}
@media(max-width:500px){
    #hero h1{
        font-size: 20px;
    }

#you p{
    color: #7C0B0B;
    border: #7C0B0B 1px solid;
}
#iama option{
    border-radius: 0px;
    width: 300px;
    height: 42px;
}
.forfl{
    display: flex;
    flex-direction: column;
}
.flx{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.members1{
    display: flex;
    flex-direction: column;
}
.members2{
    display: flex;
    flex-direction: column;
}
.pad{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.red{
    height: 450px;
    width: 100%;
}
.form2{
    padding: 0px;
    margin-top: 0px;
    width: 350px;
    padding-left: 0px;
}
.sax{
    display: flex;
    flex-direction: column;

}
.grp1{
    padding-left: 0px;
    width: 300px;
    height: 100px;
}
.form{
    width: 400px;
    margin-left: 10px;
    height: 700px;
    align-items: center;
}
#whatareyou{
    width: 90%;
}
.rectangle4 img{
    width: fit-content;
    height: 400px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    
}
.rectangle4{
    margin-right: 0px;
    margin-left: 100px;
    display: none;
}
.abouts p{
    margin-top: 0px;
}
.group {
    border: 1px solid #7C0B0B;
    width: 300px;
    height: 350px;
    margin-bottom: 20px;
    margin-left: 10px;
    
}
.group img {
    padding-top: 20px;
    padding-bottom: 10px;
}
.members2 {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    
}
.members1 {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}
.back{
    margin-top: 20px;
}
.elli1{
    width: 300px;
    height: 350px;
    margin-left: 0px;
    padding-right: 10px;
    margin-bottom: 30px;
    padding-top: 0px;
}
.elli{
    padding-bottom: 20px;
}
   
.news{
    width: 300px;
    align-items: center;
    margin-left: 30px;
    margin-right: 10px;
    text-align: center;
}
.letter{
    width: 120px;
    margin-top: 30px;
    margin-left: 100px;
}
.form2{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.suba{
    padding-top: 10px;
}

.yeas{
    padding-top: 20px;
}
.sax{
    padding-left: 5px;
    padding-top: 20px;
}
.lasts{
    padding-left: x;
}
.grp1 button {
    border-radius: 10px;
    height: 40px;
    width: 100px;
}
}